:root {
    --blanco: #ffffff;
    --primario: #ee6e0a;
    --secundario: #ffa946;
    --amarillo: #ffc107;
    --gris: #f0f2f7;
    --oscuro: #212121;
}

/* html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
}
body {
    background: var(--gris);
    min-height: 100%;
}

h2, h3 {
    text-align: center;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    margin-bottom: 3rem;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(-60deg,#ee6e0a 0%, #ffa946 100%);
    border-bottom: 3px solid var(--primario);

}

header nav {
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    header nav {
        flex-direction: row;
        justify-content: flex-end;
    }
}
header nav a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
header nav a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    header nav a{
        margin-bottom: 0;
        margin: auto 30px;
    }
}
.hero {
    height: 100vh;
    background-image: url(../img/banner-principal.jpg);
    background-size: cover;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero::after {
    content: '';
    background-color: rgba(0,0,0,.3);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.contenido-hero {
    position: relative;
    z-index: 1;
    flex: 1;
    padding-bottom: 2rem;
    color: white;
    text-align: center;
}

.contenido-hero i {
    font-size: 3rem;
    color: var(--primario);
}
.boton {
    background-color: var(--secundario);
    padding: .5rem 3rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: .5rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: pointer;
}
@media (min-width:768px) {
    .servicios-contenedor {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        flex: 0 0 calc(33.3% - 1rem);
    }


}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconos {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
}
.iconos i {
    font-size: 2rem;
    color: var(--oscuro);
}


form {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
}
form legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    
}
@media (min-width:768px) {
    form {
        max-width: 800px;
        margin: 0 auto;
    }
    .contenedor-campos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo {
        flex : 0 0 calc(50% - 1rem);
    }
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label {
    flex: 0 0 90px;
    color: var(--blanco);
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    flex: 1;
    height: 2rem;
}
.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
} */


html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/ 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    /* font-family: 'Lato', sans-serif; */
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: #E08709;
}
.boton-verde {
    background-color: #71B100;
}


/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(../img/banner-principal.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra {
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #71B100;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}